body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    
}


@font-face {
    font-family: 'Porter sans block';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format("woff");
}

@font-face {
    font-family: 'Porter2';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.eot) format("eot");
}

@font-face {
    font-family: 'Porter3';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.ttf) format("tff");
}
@font-face {
    font-family: 'Porter4';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block.otf) format("otf");
}

@font-face {
    font-family: 'Porter5';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block.ttf) format("ttf");
}

/* Section 1 */
.section1 {
    height: 700px; /* Adjust height as needed */
    background-image: url(../Assets/Images/homePageHeader.png); /* Background image */
    background-size: cover;
    background-position: center;
   
}


.text-overlay {
    position: absolute;
    top: 550px;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
   
}
.section1 p{
    font-size: 35px;
    font-family: 'porter sans block';
    padding-left: 30%;
    color: #ff0000;
    text-align: left;
    margin-bottom: 0;
}

.section1 h5{
    margin-top: 0;
    text-align: left;
    padding-left: 30%;
}

/* Section 2 */
.section2 {
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgb(78, 0, 129);
    color: #fff;
    
    padding: 40px; /* Add padding for better spacing */
}

.slider {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.image-block {
    position: relative; /* Ensure proper positioning of arrows */
    flex-shrink: 0; /* Prevent image-block from shrinking */
    margin-right: 50px; /* Add spacing between image-block and text-box */
}

.image-block img {
    width: 100%; /* Use 100% width to fill image-block */
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 50%; /* Vertically center the arrows */
    transform: translateY(-50%); /* Vertically center the arrows */
    height: auto;
    max-width: 30px;
    cursor: pointer; /* Add cursor pointer */
}

.arrowLeft {
    left: 0;
    size: 10%;
}

.arrowRight {
    right: 0;
}

.section2 h2 {
    font-size: 35px;
    line-height: 1.2;
     /* Remove default margin */
    text-align: left;
}

.section2 p {
    font-size: 16px;
    text-align: left;
    font-weight: lighter;
    line-height: 2; /* Adjust line height */
    color: #d8d8d8;
    margin: 10px 0; /* Add margin for spacing */
}

.text-box {
    text-align: left;
}

.text-box h6 {
    color: rgb(87, 209, 168);
    margin: 0; /* Remove default margin */
    font-size: 18px;
   
}

.button {
    background-color: #db0202;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 20px 60px;
    cursor: pointer; /* Add cursor pointer */
}

.button:hover {
    background-color: #700000;
  }


/* Section 3 */
.section3 {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-block {
    flex: 1;
    padding: 50px;
    text-align: left;
    font-family: Arial, sans-serif; /* Change font family */
}

.text-block h6 {
    color: rgb(87, 209, 168);
    margin: 0; /* Remove default margin */
    font-size: 18px; /* Increase font size */
    padding-left: 40px;
}

.text-block h2 {
    margin-top: 10px; /* Remove default margin */
    font-size: 32px; /* Increase font size */
    font-weight: 20px;
    padding-left: 40px;
}

.text-block p {
    margin: 10px 0 20px; /* Add some margin for spacing */
    line-height: 2; /* Adjust line height for better readability */
    color: #333;
    padding: 40px;
    
}

.image-block {
    flex-shrink: 0; /* Prevent image-block from shrinking */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    border-radius: 8px; /* Add border radius for a softer look */
    overflow: hidden; /* Hide overflowing box-shadow */
    transition: transform 0.3s ease; /* Add transition effect */
    width: 40%;
}

.image-block:hover {
    transform: scale(1.05); /* Scale up the image on hover */
}





/* Section 4 */
.section4 {
    text-align: center;
    background-color: rgb(71, 26, 100);
}

.title {
    padding: 20px;
}

.title h2{
    font-size: 36px;
    padding-left: 30%;
    padding-right: 30%;
    width: 40%;
    text-align: center;
    color: #fff;
    margin: 10px;
}

.title h6 {
    color: rgb(87, 209, 168);
    margin: 0; /* Remove default margin */
    font-size: 18px; /* Increase font size */
    
}


.image-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-grid img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

.text-block {
    padding: 20px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;

}

.flexItem3 {
    padding: 10px;
    flex:  25%;
    color: #fff;
}

.flexItem3 h2{
    text-align: center;
}

.flexItem3 p{
    color: #aaaaaa;
}

.flexItem3 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}

.button-container {
    margin-top: 20px; /* Add margin to separate the button from the content above */
    padding-bottom: 30px;
}

.button {
    background-color: #db0202;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 20px 60px;
    cursor: pointer; /* Add cursor pointer */
}

/* Center the button container */
.button-container {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    color: #000000;
    text-decoration: none;
}

/* Add your social media styling here */

.top-nav {
    background-color: rgba(255, 246, 246, 0.678); 
    width: 90%;
    margin: 20 auto;
    position: sticky;
    top: 30;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    max-height: 50px;
}

.top-nav .logo {
    flex: 0 0 auto;
}

.top-nav .logo-img {
    display: block;
    max-width: 100%;
    height: 40px;
    width: auto;
    opacity: 1; /* Set logo opacity */
    transition: opacity 0.3s ease;
}

.top-nav .logo-img:hover {
    opacity: 1; /* Hover effect for logo */
}

.top-nav nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav nav ul.nav-links {
    display: flex;
    justify-content: center;
}

.top-nav nav ul.nav-links li {
    display: inline;
}

.nav-links a.active{
    color: #ff0000;
    
}
.top-nav nav ul.nav-links li a {
    display: inline-block;
    padding: 10px 20px;
    
    text-decoration: none;
    border-radius: 20px; /* Rounded borders */
    opacity: 0.8; /* Set item opacity */
    transition: opacity 0.3s ease;
}


.top-nav nav ul.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Hover background color with opacity */
    opacity: 1; /* Hover effect for items */
}


.top-nav .actions {
    flex: 0 0 auto;
}

.top-nav .search-cart-container {
    display: flex;
    padding-right: 10%;
    align-items: center;
}

.top-nav .search-bar {
    display: flex;
    
    align-items: center;
    width: 100px;
    padding-right: 50%;
}

.top-nav .search-input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    width: 150px; /* Adjust width as needed */
    opacity: 0.8; /* Set input field opacity */
    transition: opacity 0.3s ease;
}

.top-nav .search-input:focus {
    outline: none;
}

.top-nav .search-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}


.topBlock h6{
    size: 5px;
}


/* Contact page */

.section6 {
    display: flex;
    align-items: center; /* Center items vertically */
    padding-top: 50px;
    padding-left: 20px;
  }
  
  .text {
    flex: 1; /* Grow to fill available space */
    padding: 0 20px; /* Adjust spacing as needed */
  }
  
  .text p{
    font-size: 15px;
    line-height: 1.5;
    padding-right: 30px;
    color: #979797;
  }

  .text h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 20px;
    margin: 0;
  }

  .text h6{
    color: rgb(87, 209, 168);
    margin: 0; /* Remove default margin */
    font-size: 10px; /* Increase font size */
    
  }

  .image {
    flex: 1; /* Grow to fill available space */
    text-align: center; /* Center image horizontally */
  }
  
  .image img {
    width: 90%; /* Ensure image doesn't exceed container width */
  }
  

.top-nav {
    background-color: rgba(255, 246, 246, 0.678); 
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    height: 80px;
}
.containers {
   display: flex;
   flex-direction: row; 
    margin: 0;
    padding: 20px;
}
.header {
    text-align: center;
    padding: 50px 0;
}
.header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
    margin-top: 30px;
}
.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #ffcc00;
}


body {
    font-family: Arial, sans-serif;
    
    color: #000000;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#map {
    height: 300px; /* Adjust the map height as needed */
    
}
.contact-form {
    background-image: url('../Assets/Images/formBack.png'); /* Path to your background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    color: #ffffff;
    height: 92%;
}

.contact-form h2{
    font-size: 15px;
    padding-left: 27px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 80%; /* Adjust width as needed */
    max-width: 400px; /* Set a maximum width for better responsiveness */
}

.form-group label {
    text-align: left; /* Align labels to the left */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px; /* Add space between input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.form-group textarea {
    height: 100px;
}

button[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-top: 10px; /* Add space between input fields and submit button */
    border: none;
    border-radius: 5px;
    background-color: #ff0000; /* Change color as needed */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #630101; /* Darker color on hover */
}



#map {
    height: 300px; /* Adjust the map height as needed */
}
.column {
    flex: 1;
    padding: 20px;
}

.flexContainers {
    display: flex;
    flex-direction: row;
    font-size: 16px;
   margin: 0;
    width: 100%;
    height: auto;

}

.column p{
    color: rgb(87, 209, 168);
    margin: 0; /* Remove default margin */
    font-size: 15px; /* Increase font size */
}

.column h6{
    color: rgb(87, 209, 168);
    margin: 0; /* Remove default margin */
    font-size: 15px; /* Increase font size */
    padding-top: 40px;
}

.column h2{
    margin-top: 0;
    padding-top: 10px;
    font-size: 30px;
}

.flexItem3 {
    padding: 20px;
    flex:  100%;
    color: #fff;
    margin: 0;
}



.flexItem4 p{
    color: #aaaaaa;
}

.flexItem4 img{
    width: 80%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}


.iconsSolcial {
    display: flex;
    flex-direction: row;
    width: 65%;
}

.sectionContact {
    height: 250px; /* Adjust height as needed */
    background-image: url(../Assets/Images/headerbackBack.png); /* Background image */
    background-size: cover;
    background-position: center;
   
}

.image-with-text {
    position: relative;
    text-align: center;
  }
  
  .image-with-text img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(240, 224, 255);
    font-family: 'porter sans block';
    word-break: break-all;
    text-align: center;
  }
  
  .overlay h1 {
    font-size: 36px;
    
    margin: 0;
    
    
  }



  /*Flights Page*/


  .sectionContact4 {
    height: 250px; /* Adjust height as needed */
    background-image: url(../Assets/Images/headerbackBack.png); /* Background image */
    background-size: cover;
    background-position: center;
    margin: 0;
   
}
  .product-item {
    display: flex;
  }
  
  .product-image {
    flex: 1;
    margin-right: 20px;
  }
 

  .product-image img {
    width: 420px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  
  
  .product-details {
    flex: 2;
  }
  
 

  .quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity-container {
    display: flex;
    border: 1px solid #ffffff; /* Remove border */
    border-radius: 5px;
    background-color:rgb(71, 26, 100); /* Apply background color */
    color: #fff;
  }
  
  .quantity input {
    width: 40px;
    height: 30px;
    text-align: center;
    border: none; /* Remove border */
    background-color: transparent; /* Set background color to transparent */
  }
  
  .quantity button {
    width: 40px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px !important;
    background-color: transparent; /* Set background color to transparent */
    cursor: pointer;
  }
  
  .quantity button:hover {
    background-color: rgb(83, 0, 0); /* Add hover effect */
  }
  
  .quantity button:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .quantity button:last-child {
    border-radius: 0 5px 5px 0;
  }
  
  .quantity input[type="number"]::-webkit-inner-spin-button,
  .quantity input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .quantity input[type="number"] {
    
    background-color: transparent; /* Set background color to transparent */
  }

  .quantity-container {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgb(179, 147, 201);
    width: auto; /* Adjust width as needed */
    color: #fff !important;
  }
  
  .book-now-button {
    background-color: #ff0000 !important;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 10px !important;
    padding: 20px 60px;
    cursor: pointer; /* Ensure button height matches the quantity container */
    text-align: center !important;
    text-align: justify;
  }
  
  .book-now-button:hover {
    background-color: #cc0000;
  }
  


  
  .book-now-button:hover {
    background-color: #cc0000 !important;
  }
  

  .product-section {
    padding: 20px;
  }
  
  .product-item {
    display: flex;
  }
  

  
  .book-now-button:hover {
    background-color: #cc0000;
  }

  .star {
    font-size: 36px;
    color: rgb(66, 66, 66); /* Change color of empty stars */
  }
  
  .star.filled {
    color: gold; /* Change color of filled stars */
  }
  
  .star.half-filled:before {
    content: "\00BD"; /* Unicode for half star */
    color: gold; /* Change color of half-filled star */
  }

  .quantity .buttonbook{
    width: 30%;
   height: 50px;
    /* Add space between input fields and submit button */
    border-radius: 10px !important;
   padding-left: 10px;
    background-color: #ff0000; /* Change color as needed */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
   
  }
  
  .quantity-container {
    color: #ffffff; /* Change font color to black */
}

.product-section p{
    color: #dfdfdf;
    font-size: 20px;
}

.paragraph p{
    color: #707070;
}

.product-details h3{
    color: #ffffff;
    font-size: 20px;
}
.product-details h2{
    font-size: 20px;
}



.search-bar2 {
    display: flex;
    align-items: center;
    background-color: #333; /* Solid bar color */
    padding: 10px 20px;
}

.filter,
.result-counter,
.show-per-page,
.sort-by {
    color: #fff;
    font-size: 16px;
    background-color: #333; /* Set background color */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 5px 10px; /* Add padding */
    margin-right: 10px; /* Add margin between elements */
}

.filter {
    width: 100px; /* Adjust width as needed */
}



.search-container {
    padding-top: 200px; /* Adjust top padding to move the search bar down */
}

.search-bar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Solid bar color */
    padding: 20px 20px 10px; /* Adjust padding to move the search bar down */
}

.filter-options,
.result-counter,
.dropdowns {
    color: #fff;
    font-size: 16px;
}

.dropdowns select {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 10px;
}


.footer {
    display: flex;
    justify-content: space-between;
    
    background-color: #ffffff; /* Solid bar color */
    padding: 20px; /* Adjust padding for footer */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 40px;
    width: auto; /* Allow the width to adjust automatically */
    max-width: 200px;
}

.logo p {
    font-size: 12px;
    margin: 0 10px; /* Adjust margin for spacing */
    text-align: justify;
    line-height: 1.25;
}

.logo2 {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Ensure the menu items are displayed in a row */
}

.menu li {
    margin-right: 20px;
    padding: 10px;
}

.menu a {
    color: #616161;
    text-decoration: none;
    font-size: 16px;
}

.menu2 {
    display: flex;
    flex-direction: column;
}

.menu3 {
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: flex;
    
    flex-direction: column;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    max-height: 40px;
}

.social-icons2 {
    display: flex;
    flex-direction: row;
}

.icon-cart{
    position: relative;
    width: 30px;
    padding-top: 0%;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}


.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #ff0000;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: rgba(255, 0, 0, 0.067);
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin-top: 100px;
    margin-left: -400px; /* Start off screen */
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation: slideInLeft 0.5s forwards;
}

/* Close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Button styling */
.btn {
    text-align: center;
    margin-top: 20px;
}

.btn button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn button:hover {
    background-color: #45a049;
}

/* Animation for sliding in from the left */
@keyframes slideInLeft {
    from { margin-left: -400px; }
    to { margin-left: 0; }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }