body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    
}


@font-face {
    font-family: 'Porter sans block';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format("woff");
}

@font-face {
    font-family: 'Porter2';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.eot) format("eot");
}

@font-face {
    font-family: 'Porter3';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.ttf) format("tff");
}
@font-face {
    font-family: 'Porter4';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block.otf) format("otf");
}

@font-face {
    font-family: 'Porter5';
    src: url(../Assets/Fonts/porter_sans_block/porter-sans-inline-block.ttf) format("ttf");
}

/* Section 1 */
.section1 {
    height: 700px; /* Adjust height as needed */
    background-image: url(../Assets/Images/homePageHeader.png); /* Background image */
    background-size: cover;
    background-position: center;
   
}


.text-overlay {
    position: absolute;
    top: 550px;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
   
}
.section1 p{
    font-size: 35px;
    font-family: 'porter sans block';
    padding-left: 30%;
    color: #ff0000;
    text-align: left;
    margin-bottom: 0;
}

.section1 h5{
    margin-top: 0;
    text-align: left;
    padding-left: 30%;
}

/* Section 2 */
.section2 {
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgb(78, 0, 129);
    color: #fff;
    
    padding: 40px; /* Add padding for better spacing */
}

.image-block {
    position: relative; /* Ensure proper positioning of arrows */
    flex-shrink: 0; /* Prevent image-block from shrinking */
    margin-right: 50px; /* Add spacing between image-block and text-box */
}

.image-block img {
    width: 100%; /* Use 100% width to fill image-block */
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 50%; /* Vertically center the arrows */
    transform: translateY(-50%); /* Vertically center the arrows */
    height: auto;
    max-width: 30px;
    cursor: pointer; /* Add cursor pointer */
}

.arrowLeft {
    left: 0;
    size: 10%;
}

.arrowRight {
    right: 0;
}

.section2 h2 {
    font-size: 35px;
    line-height: 1.2;
     /* Remove default margin */
    text-align: left;
}

.section2 p {
    font-size: 16px;
    text-align: left;
    font-weight: lighter;
    line-height: 2; /* Adjust line height */
    color: #d8d8d8;
    margin: 10px 0; /* Add margin for spacing */
}

.text-box {
    text-align: left;
}

.text-box h6 {
    color: rgb(87, 209, 168);
    margin: 0; /* Remove default margin */
    font-size: 18px;
   
}

.button {
    background-color: #db0202;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 20px 60px;
    cursor: pointer; /* Add cursor pointer */
}


/* Section 3 */
.section3 {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-block {
    flex: 1;
    padding: 50px;
    text-align: left;
    font-family: Arial, sans-serif; /* Change font family */
}

.text-block h6 {
    color: rgb(87, 209, 168);
    margin: 0; /* Remove default margin */
    font-size: 18px; /* Increase font size */
    padding-left: 40px;
}

.text-block h2 {
    margin-top: 10px; /* Remove default margin */
    font-size: 32px; /* Increase font size */
    font-weight: 20px;
    padding-left: 40px;
}

.text-block p {
    margin: 10px 0 20px; /* Add some margin for spacing */
    line-height: 2; /* Adjust line height for better readability */
    color: #333;
    padding: 40px;
    
}

.image-block {
    flex-shrink: 0; /* Prevent image-block from shrinking */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    border-radius: 8px; /* Add border radius for a softer look */
    overflow: hidden; /* Hide overflowing box-shadow */
    transition: transform 0.3s ease; /* Add transition effect */
    width: 40%;
}

.image-block:hover {
    transform: scale(1.05); /* Scale up the image on hover */
}





/* Section 4 */
.section4 {
    text-align: center;
    background-color: rgb(71, 26, 100);
}

.title {
    padding: 20px;
}

.title h2{
    font-size: 36px;
    padding-left: 30%;
    padding-right: 30%;
    width: 40%;
    text-align: center;
    color: #fff;
    margin: 10px;
}

.title h6 {
    color: rgb(87, 209, 168);
    margin: 0; /* Remove default margin */
    font-size: 18px; /* Increase font size */
    
}


.image-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-grid img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

.text-block {
    padding: 20px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;

}

.flexItem3 {
    padding: 10px;
    flex:  25%;
    color: #fff;
}

.flexItem3 h2{
    text-align: center;
}

.flexItem3 p{
    color: #aaaaaa;
}

.flexItem3 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}

.button-container {
    margin-top: 20px; /* Add margin to separate the button from the content above */
}

.button {
    background-color: #db0202;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 20px 60px;
    cursor: pointer; /* Add cursor pointer */
}

/* Center the button container */
.button-container {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    color: #000000;
    text-decoration: none;
}

/* Add your social media styling here */

.top-nav {
    background-color: rgba(255, 246, 246, 0.678); 
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    height: 80px;
}

.top-nav .logo {
    flex: 0 0 auto;
}

.top-nav .logo-img {
    display: block;
    max-width: 100%;
    height: 40px;
    width: auto;
    opacity: 1; /* Set logo opacity */
    transition: opacity 0.3s ease;
}

.top-nav .logo-img:hover {
    opacity: 1; /* Hover effect for logo */
}

.top-nav nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav nav ul.nav-links {
    display: flex;
    justify-content: center;
}

.top-nav nav ul.nav-links li {
    display: inline;
}

.nav-links a.active{
    color: #ff0000;
    
}
.top-nav nav ul.nav-links li a {
    display: inline-block;
    padding: 10px 20px;
    
    text-decoration: none;
    border-radius: 20px; /* Rounded borders */
    opacity: 0.8; /* Set item opacity */
    transition: opacity 0.3s ease;
}


.top-nav nav ul.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Hover background color with opacity */
    opacity: 1; /* Hover effect for items */
}


.top-nav .actions {
    flex: 0 0 auto;
}

.top-nav .search-cart-container {
    display: flex;
    align-items: center;
}

.top-nav .search-bar {
    position: relative;
}

.top-nav .search-input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    width: 150px; /* Adjust width as needed */
    opacity: 0.8; /* Set input field opacity */
    transition: opacity 0.3s ease;
}

.top-nav .search-input:focus {
    outline: none;
}

.top-nav .search-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}


.topBlock h6{
    size: 5px;
}


/* Contact page */
.top-nav {
    background-color: rgba(255, 246, 246, 0.678); 
    width: 90%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    height: 80px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    text-align: center;
    padding: 50px 0;
}
.header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.rocket-img {
    display: block;
    margin: 0 auto;
    width: 100px;
}
.contact-info {
    text-align: center;
    margin-top: 30px;
}
.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #ffcc00;
}


body {
    font-family: Arial, sans-serif;
    
    color: #000000;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.column {
    flex: 1;
    padding: 20px;
}
.social-icons {
    text-align: center;
    margin-top: 20px;
}
.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #ffcc00;
}
#map {
    height: 300px; /* Adjust the map height as needed */
}
.contact-form {
    background-image: url('../Assets/Images/formBack.png'); /* Path to your background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ffffff;
}

.contact-form h2{
    font-size: 15px;
    padding-left: 27px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 80%; /* Adjust width as needed */
    max-width: 400px; /* Set a maximum width for better responsiveness */
}

.form-group label {
    text-align: left; /* Align labels to the left */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px; /* Add space between input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.form-group textarea {
    height: 100px;
}

button[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-top: 10px; /* Add space between input fields and submit button */
    border: none;
    border-radius: 5px;
    background-color: #ff0000; /* Change color as needed */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #630101; /* Darker color on hover */
}
.social-icons {
    text-align: center;
    margin-top: 20px;
}
.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #ffcc00;
}
#map {
    height: 300px; /* Adjust the map height as needed */
}
.column {
    flex: 1;
    padding: 20px;
}

.contact-form {
    /* Your existing styles */
}
.social-icons {
    text-align: center;
    margin-top: 20px;
}
.social-icons a {
    color: #ffffff;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #ffcc00;
}
#map {
    height: 300px; /* Adjust the map height as needed */
}
.column {
    flex: 1;
    padding: 20px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    

}

.flexItem3 {
    padding: 10px;
    flex:  100%;
    color: #fff;
}

.flexItem3 h2{
    text-align: center;
}

.flexItem3 p{
    color: #aaaaaa;
}

.flexItem3 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.sectionContact {
    height: 200px; /* Adjust height as needed */
    background-image: url(../Assets/Images/headerbackBack.png); /* Background image */
    background-size: cover;
    background-position: center;
   
}

.image-with-text {
    position: relative;
    text-align: center;
  }
  
  .image-with-text img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'porter sans block';
    word-break: break-all;
    text-align: center;
  }
  
  .overlay h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }